body{
    align-items: center;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
}
section{
    display: flex;
}

h1{
    font-family: 'Merriweather', serif;
    font-size: 2.8rem;
    line-height: 0.9;
}
#top-heading{
    border-left: tomato solid 5px;
    padding: 2%;
}
#YearHighLight{
    color:#ffad5a;
}
#Moto{
    font-size: 1.5rem;
    font-style: italic;
}
.half-width{
    width: 50%;
    padding: 5%;
}

.half-width img{
    width: 70%;
    align-items: center;
}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(to right,#ffad5a, #ff5959);
    padding: 10px 40px;
    border-radius: 5px;
    color:#fff;
    font-weight: 800;
    
}
.general-paragrapgh{
    margin-top: 1.5rem;
}